## Step 1: Preprocess the Data for a Neural Network

Using your knowledge of Pandas and scikit-learn’s StandardScaler(), you’ll need to preprocess the dataset. This step prepares you for Step 2, where you'll compile, train, and evaluate the neural network model.

Start by uploading the starter file to Google Colab, then using the information we provided in the Challenge files, follow the instructions to complete the preprocessing steps.

In [450]:
# Import our dependencies
import pandas as pd
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from tensorflow import keras
from keras.callbacks import Callback
from keras.callbacks import ModelCheckpoint

#  Import and read the charity_data.csv
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

# Dataset Observations

The **"charity_data.csv"** dataset has two columns that can be dropped as they are not beneficial as features: EIN and NAME.

**Target variable:** IS_SUCCESSFUL

**Feature variables:** APPLICATION_TYPE, AFFILIATION, CLASSIFICATION, USE_CASE, ORGANIZATION, STATUS, INCOME_AMT, SPECIAL_CONSIDERATIONS, ASK_AMT.

In [451]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns = ['EIN','NAME'], inplace=True)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [452]:
# Determine the number of unique values in each column.
application_df.nunique().sort_values(ascending=False)

ASK_AMT                   8747
CLASSIFICATION              71
APPLICATION_TYPE            17
INCOME_AMT                   9
AFFILIATION                  6
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
SPECIAL_CONSIDERATIONS       2
IS_SUCCESSFUL                2
dtype: int64

In [453]:
# Only ASK_AMT, CLASSIFICATION and APPLICATION_TYPE have more than 10 unique values
# Look at ASK_AMT value counts for binning
amt_tipos = application_df['ASK_AMT'].value_counts()
amt_tipos

5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: ASK_AMT, Length: 8747, dtype: int64

In [454]:
# Choose a cutoff value and create a list of ASK_AMT to be replaced
# use the variable name `app_ask_amt`
app_ask_amt = list(amt_tipos[amt_tipos < 10].index)

# Replace in dataframe
for app in app_ask_amt:
    application_df['ASK_AMT'] = application_df['ASK_AMT'].replace(app,"Other")

# Check to make sure binning was successful
application_df['ASK_AMT'].value_counts()

5000     25398
Other     8901
Name: ASK_AMT, dtype: int64

In [456]:
# Look at APPLICATION_TYPE value counts for binning
app_tipos = application_df['APPLICATION_TYPE'].value_counts()
app_tipos

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [457]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_tipos[app_tipos < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [458]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()

In [459]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[lambda x : x >1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [462]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 100].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [463]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df)
application_dummies.head()

,STATUS,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,ASK_AMT_5000,ASK_AMT_Other
0,1,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
1,1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
2,1,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
3,1,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
4,1,1,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,1,0,0,1

In [464]:
# Split our preprocessed data into our features and target arrays
X = application_dummies.drop('IS_SUCCESSFUL', axis=1).values
y = application_dummies['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 300)

In [465]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Step 2. Compile, Train and Evaluate the Model

Using your knowledge of TensorFlow, you’ll design a neural network, or deep learning model, to create a binary classification model that can predict if an Alphabet Soup-funded organization will be successful based on the features in the dataset. You’ll need to think about how many inputs there are before determining the number of neurons and layers in your model. Once you’ve completed that step, you’ll compile, train, and evaluate your binary classification model to calculate the model’s loss and accuracy.

In [466]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])  #51 colunmns
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 50
hidden_nodes_layer3 = 30 

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation='relu', input_dim=number_input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='tanh'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation='tanh'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1,activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_62"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_205 (Dense)           (None, 80)                4080

 dense_206 (Dense)           (None, 50)                4050

 dense_207 (Dense)           (None, 30)                1530

 dense_208 (Dense)           (None, 1)                 31

=================================================================
Total params: 9,691
Trainable params: 9,691
Non-trainable params: 0
_________________________________________________________________

In [467]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [468]:
# Create a callback that saves the model's weights every five epochs.
# The model will now save its weights every 5 epochs during training.
mc = keras.callbacks.ModelCheckpoint(
    'weights{epoch:08d}.h5', # path to save the weights
    save_weights_only=True,  # save only the weights, not the entire model
    save_best_only=False,    # save weights after every 5 epochs, not just the best
    monitor='val_loss',      # quantity to monitor
    mode='min',              # mode to monitor (min or max)
    save_freq=5
    )
# Train the model with the callback
fit_model = nn.fit(X_train_scaled, y_train, callbacks=[mc], epochs=50)

Epoch 1/50
804/804 [==============================] - 7s 6ms/step - loss: 0.5683 - accuracy: 0.7197
Epoch 2/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5551 - accuracy: 0.7247
Epoch 3/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5518 - accuracy: 0.7285
Epoch 4/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5499 - accuracy: 0.7278
Epoch 5/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5476 - accuracy: 0.7271
Epoch 6/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5474 - accuracy: 0.7291
Epoch 7/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5459 - accuracy: 0.7316
Epoch 8/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5447 - accuracy: 0.7307
Epoch 9/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5440 - accuracy: 0.7314
Epoch 10/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5428 - accuracy: 0.7318
Epoch 11/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5425 - accuracy: 0.7329
Epoch 12/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5418 - accuracy: 0.7331
Epoch 13/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5410 - accuracy: 0.7335
Epoch 14/50
804/804 [==============================] - 5s 7ms/step - loss: 0.5405 - accuracy: 0.7340
Epoch 15/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5404 - accuracy: 0.7324
Epoch 16/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5393 - accuracy: 0.7352
Epoch 17/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5390 - accuracy: 0.7354
Epoch 18/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5387 - accuracy: 0.7355
Epoch 19/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5385 - accuracy: 0.7337
Epoch 20/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5375 - accuracy: 0.7352
Epoch 21/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5380 - accuracy: 0.7356
Epoch 22/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5373 - accuracy: 0.7368
Epoch 23/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5370 - accuracy: 0.7362
Epoch 24/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5367 - accuracy: 0.7368
Epoch 25/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5362 - accuracy: 0.7355
Epoch 26/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5360 - accuracy: 0.7386
Epoch 27/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5359 - accuracy: 0.7363
Epoch 28/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5351 - accuracy: 0.7375
Epoch 29/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5355 - accuracy: 0.7360
Epoch 30/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5350 - accuracy: 0.7375
Epoch 31/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5349 - accuracy: 0.7375
Epoch 32/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5340 - accuracy: 0.7383
Epoch 33/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5344 - accuracy: 0.7376
Epoch 34/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5342 - accuracy: 0.7388
Epoch 35/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5337 - accuracy: 0.7387
Epoch 36/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5338 - accuracy: 0.7365
Epoch 37/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5335 - accuracy: 0.7374
Epoch 38/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5335 - accuracy: 0.7379
Epoch 39/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5331 - accuracy: 0.7389
Epoch 40/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5330 - accuracy: 0.7386
Epoch 41/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5330 - accuracy: 0.7381
Epoch 42/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5329 - accuracy: 0.7376
Epoch 43/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5328 - accuracy: 0.7395
Epoch 44/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5322 - accuracy: 0.7392
Epoch 45/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5327 - accuracy: 0.7385
Epoch 46/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5329 - accuracy: 0.7383
Epoch 47/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5326 - accuracy: 0.7388
Epoch 48/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5317 - accuracy: 0.7377
Epoch 49/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5317 - accuracy: 0.7387
Epoch 50/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5321 - accuracy: 0.7383

In [469]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 27s - loss: 0.5490 - accuracy: 0.7325 - 27s/epoch - 100ms/step
Loss: 0.548992931842804, Accuracy: 0.732478141784668

In [449]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimized.h5')